<!DOCTYPE html>

<title>New TextBook</title>

{% block body %}
    <h1>Create new TextBook</h1>

    {{ include('text_book/_form.html.twig') }}

    <a href="{{ path('text_book_index') }}">back to list</a>
{% endblock %}
